[submodule "external/CMSJMECalculators"]
	path = external/CMSJMECalculators
	url = ssh://git@gitlab.cern.ch:7999/coli/CMSJMECalculators.git
[submodule "external/alice-rs"]
	path = external/alice-rs
	url = https://github.com/DickyChant/alice-rs
